@model UsersLib.Entity.User

@{
    ViewBag.Title = "Index";
    List<UsersLib.Entity.User> users = (List<UsersLib.Entity.User>) ViewBag.Users;
}

Б<script>
     var notifier = null;
 </script>

<h2>Все пользователи</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <td>Login</td>
            <td>Имя</td>
            <td></td>
        </tr>
    </thead>
    @foreach( var user in users )
    {
        <tr>
            <td class="text-left">
                @Html.DisplayFor( userItem => user.Login )
            </td>
            <td class="text-left">
                @Html.DisplayFor( userItem => user.DisplayName )
            </td>
            <td class="text-center">
                @using( Html.BeginForm( "Edit", "User", FormMethod.Post ) )
                {
                    <input name="userId" value="@user.Id" type="hidden" />
                    <button name="action" class="btn btn-primary">Изменить</button>
                }
            </td>
        </tr>
    }
    <tr>
        <td class="alert" onclick="notifier != null ? notifier.addText('132') : notifier = new Notifier(this)">
            Приветули!
        </td>
    </tr>
</table>

