*.dll
*.mdb
bin
obj
*.pdb
/UsersLib/obj
/packages
.vs
/.vs
*.user
/ServiceInstalling/*.dll
/ServiceInstalling/*.xml
/ServiceInstalling/*.pdb
/ServiceInstalling/*.config
/ServiceInstalling/*.manifest
/ServiceInstalling/*.exe
/ServiceInstalling/*.InstallLog
/ServiceInstalling/*.InstallState
