<div ng-controller="UsersController">
    <div class="row">
        <div class="col-lg-10">
            <h2>Пользователи</h2>
        </div>
        <div class="col-lg-2">
            <a href="{{createUserLink}}" class="btn btn-success">+ Создать пользователя</a>
        </div>
    </div>
    <table class="table">
        <tr>
            <th class="col-lg-3">
                <div class="row">
                    <div class="col-md-2 text-center">
                        <label for="login">Имя</label>
                    </div>  
                    <div class="col-md-8">
                        <input type="text" class="form-control input-sm" placeholder="Имя" id="login" ng-model="filter.name" />
                    </div>
                </div>
            </th>
            <th>Группы</th>
            <th class="col-lg-2">
                Дейтсвия
            </th>
        </tr>
        <tr ng-repeat="user in getFilteredUsers()">
            <td>{{user.name}}</td>
            <td>
                <div>
                    <button data-target="#groups-spoiler-{{user.id}}" class="btn-link" data-toggle="collapse">Показать</button>
                    <div class="collapse" id="groups-spoiler-{{user.id}}">
                        <div class="well">
                            <ul>
                                <li ng-repeat="group in user.groups">{{group.name}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <a href="{{user.editLink}}" class="btn btn-info">Изменить</a>
                <button class="btn btn-danger" ng-click="deleteUser(user)">Удалить</button>
            </td>
        </tr>
    </table>
</div>

