<div ng-controller="UsersController as ctrl">
    <h2>Пользователи</h2>
    <table class="table">
        <tr>
            <th>Логин</th> 
            <th>Имя</th> 
            <th>Группы</th> 
            <th>
                Дейтсвия
            </th> 
        </tr>
        <tr ng-repeat="user in ctrl.users">
            <td class="left center-block">{{user.login}}</td>
            <td>{{user.name}}</td>
            <td>
                <div>
                    <button data-target="#groups-spoiler-{{user.id}}" class="btn-link" data-toggle="collapse">Показать</button>
                    <div class="collapse" id="groups-spoiler-{{user.id}}">
                        <div class="well">
                            <ul>
                               <li ng-repeat="group in user.groups">{{group.name}}</li> 
                            </ul>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <a href="FtpProxy/user/{{user.id}}" class="btn btn-default">Изменить</a>
            </td>
        </tr>
    </table>
</div>

